# Auto detect text files and perform LF normalization
# Set the default behavior to automatically normalize line endings for text files
# This tells Git to always use LF for shell scripts and YAML files, regardless of OS.
* text=auto
*.sh text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
.gitattributes text eol=lf
